#footer-como-comprar{
    margin-top: 123px;
}

footer{
    background-color: $hfcolor;
    padding: 20px;
    margin-top: 113px;

    #seguinos {
        font-family: 'Shrikhand', cursive;
        margin-top: 8px;
        color: $texthfcolor;
    }

    .fa-twitter {
        color: $texthfcolor;

    }
    
    .fa-facebook {
        color: $texthfcolor;
       
    }
    
    .fa-instagram {
        color: $texthfcolor;
        
    }
    .fa-whatsapp {
        color: $texthfcolor;
        
    }
    
    
}

footer{
    .fa-twitter:hover{
        color: $twittcol;
    }
    .fa-facebook:hover{
        color: $facecol;
    }
    .fa-instagram:hover{
        color: $instacol;
    }
    .fa-whatsapp:hover{
        color: $whatcol;
    }
}




@mixin size ($ancho, $alto) {
    width: $ancho;
    height: $alto;
    
}



