header{
    background-color: $hfcolor;
    position: sticky;
    top: 0;
    z-index: 1;
    
    #logo {
        font-family: 'Shrikhand', cursive;
        color: $texthfcolor;
        animation: slide-in-left .2s cubic-bezier(.25, .46, .45, .94) .3s both
    }

    .pestañas a {
        color: $texthfcolor;
        animation: slide-in-left .3s cubic-bezier(.25, .46, .45, .94) both
    }
}