#body-productos{
    background-image: radial-gradient(bisque, wheat, pink);
}

h3{
    background-color: $texthfcolor;
    color: white;
    font-family: "Arvo", serif;
}
@mixin cards ($fondo){
    background-color: $fondo;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;

} 
main{
.bombon{
    @include cards(#F7DEE8)
}
.galleta{
    @include cards(#F7DEE8)
}
.magda{
    @include cards(#e4cdd6)
}
.paleta{
    @include cards(#e4cdd6)
}
.tortas{
    @include cards(#ceb8c0)
}
.estruc{
    @include cards(#ceb8c0)
}





}