@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Arvo:ital@1&family=Changa:wght@300&family=Mouse+Memoirs&family=Oswald:wght@300&family=Pacifico&family=Shrikhand&family=Silkscreen&display=swap');


$hfcolor: #F6E3DF;
$texthfcolor: #D4908E;

$whatcol: #00A884;
$facecol: #4292FF;
$instacol: #FF458B;
$twittcol: #1DA1F2;