@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Arvo:ital@1&family=Changa:wght@300&family=Mouse+Memoirs&family=Oswald:wght@300&family=Pacifico&family=Shrikhand&family=Silkscreen&display=swap");
header {
  background-color: #F6E3DF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
header #logo {
  font-family: "Shrikhand", cursive;
  color: #D4908E;
  -webkit-animation: slide-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
          animation: slide-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
header .pestañas a {
  color: #D4908E;
  -webkit-animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

header #logo:hover {
  color: white;
}

.hero {
  background-image: url(../fotos/fondobody.svg);
  background-color: white;
  height: 90vh;
}
.hero #bienvenidos {
  background-color: #F6E3DF;
  color: #D4908E;
  font-family: "Arvo", serif;
  -webkit-animation: color-change-2x 10s linear infinite alternate both;
          animation: color-change-2x 10s linear infinite alternate both;
}

.miranos {
  background-color: #F6E3DF;
}
.miranos #miralo {
  color: #D4908E;
  font-family: "Arvo", serif;
}

#buton {
  background-color: #D4908E;
  font-weight: bold;
}

#body-index {
  background-image: radial-gradient(circle, #9E9D99, #D4908E, #EBB4B1, pink);
}

.card-body {
  background-color: #d8d7d7;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

#muestra1, #muestra6, #muestra5, #muestra4, #muestra3, #muestra2 {
  height: 250px;
}

#body-contacto {
  background-image: url(../fotos/fondo\ body.webp);
}

#main-contacto h1 {
  font-family: "Shrikhand", cursive;
  color: black;
}
#main-contacto #texto-contacto p {
  background-color: #D4908E;
}

.nombre label {
  font-family: "Arvo", serif;
  background-color: #F6E3DF;
  border-radius: 25px;
  padding: 5px;
}

.mail label {
  font-family: "Arvo", serif;
  background-color: #F6E3DF;
  border-radius: 25px;
  padding: 5px;
}

legend {
  font-family: "Arvo", serif;
  background-color: #F6E3DF;
  border-radius: 25px;
  padding: 5px;
}

#body-quienes {
  background-image: url(../fotos/fondosignos.webp);
}
#body-quienes section .titulos {
  font-family: "Arvo", serif;
  color: #ef8383;
  display: inline-block;
  background-color: #F6E3DF;
  border-radius: 15px;
  padding: 2px;
}
#body-quienes section #parrafo-quienes {
  border: 4px solid black;
  border-radius: 20px;
  padding: 10px;
  background-color: #e2baba;
}

#body-como-comprar {
  background-color: #b7d4e5;
}
#body-como-comprar div #titulo-como-comprar {
  font-family: "Changa", sans-serif;
}

.fa-paso1 {
  background-color: rgba(113, 113, 202, 0.637);
}

.fa-paso2 {
  background-color: rgb(206, 206, 145);
}

.fa-paso3 {
  background-color: rgb(141, 211, 158);
}

.fa-paso4 {
  background-color: rgb(132, 208, 230);
}

.fa-paso5 {
  background-color: rgb(216, 175, 202);
}

.fa-paso6 {
  background-color: rgb(255, 60, 0);
}

.fa-paso7 {
  background-color: rgb(136, 131, 179);
}

.fa-paso8 {
  background-color: rgb(219, 219, 207);
}

.fa-paso9 {
  background-color: rgb(151, 134, 150);
}

#body-productos {
  background-image: radial-gradient(bisque, wheat, pink);
}

h3 {
  background-color: #D4908E;
  font-family: "Arvo", serif;
}

main .bombon {
  background-color: green;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
main .galleta {
  background-color: skyblue;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
main .magda {
  background-color: yellow;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
main .paleta {
  background-color: green;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
main .tortas {
  background-color: skyblue;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
main .estruc {
  background-color: yellow;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#footer-como-comprar {
  margin-top: 123px;
}

footer {
  background-color: #F6E3DF;
  padding: 20px;
  margin-top: 113px;
}
footer #seguinos {
  font-family: "Shrikhand", cursive;
  margin-top: 8px;
  color: #D4908E;
}
footer .fa-twitter {
  color: #D4908E;
}
footer .fa-facebook {
  color: #D4908E;
}
footer .fa-instagram {
  color: #D4908E;
}
footer .fa-whatsapp {
  color: #D4908E;
}

footer .fa-twitter:hover {
  color: #1DA1F2;
}
footer .fa-facebook:hover {
  color: #4292FF;
}
footer .fa-instagram:hover {
  color: #FF458B;
}
footer .fa-whatsapp:hover {
  color: #00A884;
}

#seguinos {
  color: #d5918e;
  -webkit-animation: efecto_instagram 0.7s ease-in-out infinite both;
          animation: efecto_instagram 0.7s ease-in-out infinite both;
}

@-webkit-keyframes efecto_instagram {
  0% {
    transform: scale(1);
    color: #D5918E;
  }
  50% {
    transform: scale(1.3);
    color: #D5918E;
  }
  100% {
    transform: scale(1);
    color: #D5918E;
  }
}

@keyframes efecto_instagram {
  0% {
    transform: scale(1);
    color: #D5918E;
  }
  50% {
    transform: scale(1.3);
    color: #D5918E;
  }
  100% {
    transform: scale(1);
    color: #D5918E;
  }
}
#bienvenidos {
  -webkit-animation: color-change-2x 5s linear infinite alternate both;
          animation: color-change-2x 5s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
#texto-contacto {
  -webkit-animation: bounce-in-top 1.1s both;
          animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.titulos {
  -webkit-animation: flip-in-hor-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: flip-in-hor-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
.foto {
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
#titulo-como-comprar {
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }
}/*# sourceMappingURL=estilos.css.map */